{
  "openapi": "3.0.3",
  "info": {
    "title": "Graylog REST API",
    "description": "OpenAPI 3.0 specification generated from a Swagger 1.2 API description.",
    "version": "5.2.7+5e29a2c"
  },
  "servers": [
    {
      "url": "https://graylog3.lps.webpros.host/api"
    }
  ],
  "tags": [
    {
      "name": "Authorization/GrantsOverview",
      "description": "Grants overview"
    },
    {
      "name": "Authorization/Roles",
      "description": "Manage roles"
    },
    {
      "name": "Authorization/Shares",
      "description": "Manage share permissions on entities"
    },
    {
      "name": "Cluster",
      "description": "System information of all nodes in the cluster"
    },
    {
      "name": "Cluster/Debug/SupportBundle",
      "description": "For collecting cluster wide debugging information, e.g. server logs"
    },
    {
      "name": "Cluster/Deflector",
      "description": "Cluster-wide deflector handling"
    },
    {
      "name": "Cluster/InputState",
      "description": "Cluster-wide input states"
    },
    {
      "name": "Cluster/Jobs",
      "description": "Cluster-wide System Jobs"
    },
    {
      "name": "Cluster/Journal",
      "description": "Journal information of any nodes in the cluster"
    },
    {
      "name": "Cluster/LoadBalancers",
      "description": "Cluster-wide status propagation for LB"
    },
    {
      "name": "Cluster/LookupTable"
    },
    {
      "name": "Cluster/Metrics",
      "description": "Cluster-wide Internal Graylog metrics"
    },
    {
      "name": "Cluster/Node/Metrics",
      "description": "Cluster-wide Internal Graylog node metrics"
    },
    {
      "name": "Cluster/Plugins",
      "description": "Plugin information for any node in the cluster"
    },
    {
      "name": "Cluster/Processing",
      "description": "Cluster-wide processing status control."
    },
    {
      "name": "Cluster/Processing/Status"
    },
    {
      "name": "Cluster/System/Loggers",
      "description": "Cluster-wide access to internal Graylog loggers"
    },
    {
      "name": "ContentStream",
      "description": "Content Stream"
    },
    {
      "name": "Dashboards"
    },
    {
      "name": "DataNodes/API",
      "description": "Proxy direct access to Data Node's API"
    },
    {
      "name": "Documentation",
      "description": "Documentation of this API in JSON format."
    },
    {
      "name": "Enterprise"
    },
    {
      "name": "EntityLists",
      "description": "Entity Lists Preferences"
    },
    {
      "name": "EntityScope",
      "description": "Provide a list of available Entity Scopes"
    },
    {
      "name": "EntitySuggestions"
    },
    {
      "name": "Events",
      "description": "Events overview and search"
    },
    {
      "name": "Events/Definitions",
      "description": "Event definition management"
    },
    {
      "name": "Events/EntityTypes",
      "description": "Event entity types"
    },
    {
      "name": "Events/Notifications",
      "description": "Manage event notifications"
    },
    {
      "name": "Extractors",
      "description": "Extractors of an input"
    },
    {
      "name": "Favorites"
    },
    {
      "name": "FieldTypes"
    },
    {
      "name": "Hello World",
      "description": "A friendly hello world message"
    },
    {
      "name": "Indexer/Cluster",
      "description": "Indexer cluster information"
    },
    {
      "name": "Indexer/Failures",
      "description": "Indexer failures"
    },
    {
      "name": "Indexer/Indices",
      "description": "Index information"
    },
    {
      "name": "Indexer/Indices/Templates",
      "description": "Index Template Management"
    },
    {
      "name": "Indexer/Overview",
      "description": "Indexing overview"
    },
    {
      "name": "Legacy/Search/Absolute",
      "description": "Message search"
    },
    {
      "name": "Legacy/Search/Keyword",
      "description": "Message search"
    },
    {
      "name": "Legacy/Search/Relative",
      "description": "Message search"
    },
    {
      "name": "Messages",
      "description": "Single messages"
    },
    {
      "name": "Pipelines/Connections",
      "description": "Stream connections of processing pipelines"
    },
    {
      "name": "Pipelines/Pipelines",
      "description": "Pipelines for the pipeline message processor"
    },
    {
      "name": "Pipelines/Rulebuilder",
      "description": "Rules for the pipeline message processor generated using the rulebuilder"
    },
    {
      "name": "Pipelines/Rules",
      "description": "Rules for the pipeline message processor"
    },
    {
      "name": "Pipelines/Simulator",
      "description": "Simulate pipeline message processor"
    },
    {
      "name": "Plugins/AWS",
      "description": "AWS integrations"
    },
    {
      "name": "Plugins/AWS/Config",
      "description": "Manage AWS Config settings"
    },
    {
      "name": "Plugins/AWSKinesisAuto",
      "description": "AWS Kinesis auto-setup"
    },
    {
      "name": "Plugins/Certificates"
    },
    {
      "name": "Roles",
      "description": "User roles"
    },
    {
      "name": "Search"
    },
    {
      "name": "Search/Decorators",
      "description": "Message search decorators"
    },
    {
      "name": "Search/Export",
      "description": "Creating/Managing Export Jobs."
    },
    {
      "name": "Search/Functions"
    },
    {
      "name": "Search/Messages",
      "description": "Simple search returning (matching) messages only, as CSV."
    },
    {
      "name": "Search/Metadata"
    },
    {
      "name": "Search/Saved"
    },
    {
      "name": "Search/Simple",
      "description": "Simple search API for aggregating and messages retrieval"
    },
    {
      "name": "Search/Suggestions"
    },
    {
      "name": "Search/Validation"
    },
    {
      "name": "Sidecar",
      "description": "Manage Sidecar fleet"
    },
    {
      "name": "Sidecar/Administration",
      "description": "Administrate sidecars"
    },
    {
      "name": "Sidecar/Collector/Actions",
      "description": "Manage Collector actions"
    },
    {
      "name": "Sidecar/Collectors",
      "description": "Manage collectors"
    },
    {
      "name": "Sidecar/ConfigurationVariables",
      "description": "Manage collector configuration variables"
    },
    {
      "name": "Sidecar/Configurations",
      "description": "Manage/Render collector configurations"
    },
    {
      "name": "StartPage"
    },
    {
      "name": "StaticFields",
      "description": "Static fields of an input"
    },
    {
      "name": "StreamOutputs",
      "description": "Manage stream outputs for a given stream"
    },
    {
      "name": "StreamRules",
      "description": "Manage stream rules"
    },
    {
      "name": "StreamRulesInputs",
      "description": "Provide stream rule inputs"
    },
    {
      "name": "Streams",
      "description": "Manage streams"
    },
    {
      "name": "System",
      "description": "System information of this node."
    },
    {
      "name": "System/Authentication/HTTPHeaderAuthConfig",
      "description": "Manage the HTTP header authentication configuration"
    },
    {
      "name": "System/Authentication/Services",
      "description": "Manage authentication services"
    },
    {
      "name": "System/Authentication/Services/Backends",
      "description": "Manage authentication service backends"
    },
    {
      "name": "System/Authentication/Services/Configuration",
      "description": "Manage global authentication services configuration"
    },
    {
      "name": "System/Authentication/Services/Test",
      "description": "Test authentication services"
    },
    {
      "name": "System/Catalog",
      "description": "Entity Catalog"
    },
    {
      "name": "System/Cluster",
      "description": "Node discovery"
    },
    {
      "name": "System/ClusterConfig",
      "description": "Graylog Cluster Configuration"
    },
    {
      "name": "System/ClusterStats",
      "description": "[DEPRECATED] Cluster stats"
    },
    {
      "name": "System/ClusterTraffic",
      "description": "Cluster traffic stats"
    },
    {
      "name": "System/Codecs/Types",
      "description": "Message codec types of this node"
    },
    {
      "name": "System/Configuration",
      "description": "Read-only access to configuration settings"
    },
    {
      "name": "System/ContentPacks",
      "description": "Content Packs"
    },
    {
      "name": "System/Debug/Events",
      "description": "For debugging local and cluster events."
    },
    {
      "name": "System/Debug/SupportBundle",
      "description": "For collecting debugging information, e.g. server logs"
    },
    {
      "name": "System/Deflector",
      "description": "Index deflector management"
    },
    {
      "name": "System/FieldTypes"
    },
    {
      "name": "System/Fields",
      "description": "Get list of message fields that exist."
    },
    {
      "name": "System/GettingStartedGuides",
      "description": "Getting Started guide"
    },
    {
      "name": "System/Grok",
      "description": "Manage grok patterns"
    },
    {
      "name": "System/IndexRanges",
      "description": "Index timeranges"
    },
    {
      "name": "System/IndexSetDefaults",
      "description": "Index set defaults"
    },
    {
      "name": "System/IndexSets",
      "description": "Index sets"
    },
    {
      "name": "System/IndexSets/Types",
      "description": "Index set field types"
    },
    {
      "name": "System/Indices/Retention",
      "description": "Index retention strategy settings"
    },
    {
      "name": "System/Indices/Rotation",
      "description": "Index rotation strategy settings"
    },
    {
      "name": "System/InputStates",
      "description": "Message input states of this node"
    },
    {
      "name": "System/Inputs",
      "description": "Message inputs"
    },
    {
      "name": "System/Inputs/Types",
      "description": "Message input types of this node"
    },
    {
      "name": "System/Jobs",
      "description": "System Jobs"
    },
    {
      "name": "System/Journal",
      "description": "Message journal information of this node."
    },
    {
      "name": "System/LoadBalancers",
      "description": "Status propagation for load balancers"
    },
    {
      "name": "System/Loggers",
      "description": "Internal Graylog loggers"
    },
    {
      "name": "System/Lookup",
      "description": "Lookup tables"
    },
    {
      "name": "System/MessageProcessors",
      "description": "Manage message processors"
    },
    {
      "name": "System/Messages",
      "description": "Internal Graylog messages"
    },
    {
      "name": "System/Metrics",
      "description": "Internal Graylog metrics"
    },
    {
      "name": "System/Notification/Message",
      "description": "Render system notification messages"
    },
    {
      "name": "System/Notifications",
      "description": "Notifications generated by the system"
    },
    {
      "name": "System/Outputs",
      "description": "Manage outputs"
    },
    {
      "name": "System/Permissions",
      "description": "Retrieval of system permissions."
    },
    {
      "name": "System/Plugins",
      "description": "Plugin information"
    },
    {
      "name": "System/Processing",
      "description": "System processing status control."
    },
    {
      "name": "System/Processing/Status"
    },
    {
      "name": "System/SearchVersion",
      "description": "Checks system search version requirements"
    },
    {
      "name": "System/ServiceManager",
      "description": "ServiceManager Status"
    },
    {
      "name": "System/Sessions"
    },
    {
      "name": "System/Stats",
      "description": "Node system stats"
    },
    {
      "name": "System/Throughput",
      "description": "Message throughput of this node"
    },
    {
      "name": "System/UrlWhitelist"
    },
    {
      "name": "Telemetry",
      "description": "Message inputs"
    },
    {
      "name": "Users",
      "description": "User accounts"
    },
    {
      "name": "Views"
    },
    {
      "name": "Views/QualifyingViews"
    }
  ],
  "paths": {
    "/": {},
    "/api-docs": {
      "get": {
        "operationId": "overview",
        "tags": [
          "Documentation"
        ],
        "summary": "Get API documentation",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/api-docs/global": {
      "get": {
        "operationId": "globalOverview",
        "tags": [
          "Documentation"
        ],
        "summary": "Get API documentation with cluster global URI path",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/api-docs/{route}": {
      "get": {
        "operationId": "route",
        "tags": [
          "Documentation"
        ],
        "summary": "Get detailed API documentation of a single resource",
        "parameters": [
          {
            "name": "route",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Route to fetch. For example /system"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/authz/grants-overview": {
      "get": {
        "operationId": "getOverview",
        "tags": [
          "Authorization/GrantsOverview"
        ],
        "summary": "Return an overview of all grants in the system",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/authz/roles": {
      "get": {
        "operationId": "getList",
        "tags": [
          "Authorization/Roles"
        ],
        "summary": "Get a paginated list of all roles",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "description"
              ],
              "default": "name"
            },
            "description": "The field to sort the result on"
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                " desc"
              ],
              "default": "asc"
            },
            "description": "The sort direction"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/authz/roles/user/{username}": {
      "get": {
        "operationId": "getListForUser",
        "tags": [
          "Authorization/Roles"
        ],
        "summary": "Get a paginated list roles for a user",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "description"
              ],
              "default": "name"
            },
            "description": "The field to sort the result on"
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                " desc"
              ],
              "default": "asc"
            },
            "description": "The sort direction"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/authz/roles/{roleId}": {
      "get": {
        "operationId": "get",
        "tags": [
          "Authorization/Roles"
        ],
        "summary": "Get a single role",
        "parameters": [
          {
            "name": "roleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthzRoleDTO"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "delete",
        "tags": [
          "Authorization/Roles"
        ],
        "summary": "Delete a role",
        "parameters": [
          {
            "name": "roleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/authz/roles/{roleId}/assignee/{username}": {
      "delete": {
        "operationId": "removeUser",
        "tags": [
          "Authorization/Roles"
        ],
        "summary": "Remove user from role",
        "parameters": [
          {
            "name": "roleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/authz/roles/{roleId}/assignees": {
      "get": {
        "operationId": "getUsersForRole",
        "tags": [
          "Authorization/Roles"
        ],
        "summary": "Get a paginated list of users for a role",
        "parameters": [
          {
            "name": "roleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "username",
                "full_name",
                "email"
              ]
            },
            "description": "The field to sort the result on"
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                " desc"
              ],
              "default": "asc"
            },
            "description": "The sort direction"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "addUser",
        "tags": [
          "Authorization/Roles"
        ],
        "summary": "Add user to role",
        "parameters": [
          {
            "name": "roleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/stringArray"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/authz/shares": {},
    "/authz/shares/entities/{entityGRN}": {
      "post": {
        "operationId": "updateEntityShares",
        "tags": [
          "Authorization/Shares"
        ],
        "summary": "Create / update shares for an entity or collection",
        "parameters": [
          {
            "name": "entityGRN",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EntityShareRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/authz/shares/entities/{entityGRN}/prepare": {
      "post": {
        "operationId": "prepareShare",
        "tags": [
          "Authorization/Shares"
        ],
        "summary": "Prepare shares for an entity or collection",
        "parameters": [
          {
            "name": "entityGRN",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EntityShareRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityShareResponse"
                }
              }
            }
          }
        }
      }
    },
    "/authz/shares/user/{userId}": {
      "get": {
        "operationId": "Authorization_Shares_get",
        "tags": [
          "Authorization/Shares"
        ],
        "summary": "Return shares for a user",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "capability",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entity_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginationParameters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cluster": {
      "get": {
        "operationId": "Cluster_get",
        "tags": [
          "Cluster"
        ],
        "summary": "Get system overview of all Graylog nodes",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemOverviewResponseMap"
                }
              }
            }
          }
        }
      }
    },
    "/cluster/debug/support": {},
    "/cluster/debug/support/bundle/build": {
      "post": {
        "operationId": "buildBundle",
        "tags": [
          "Cluster/Debug/SupportBundle"
        ],
        "summary": "Build a new Support Bundle",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/cluster/debug/support/bundle/download/{filename}": {
      "get": {
        "operationId": "download",
        "tags": [
          "Cluster/Debug/SupportBundle"
        ],
        "summary": "Downloads the requested bundle",
        "parameters": [
          {
            "name": "filename",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "filename"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/octet-stream": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/cluster/debug/support/bundle/list": {
      "get": {
        "operationId": "listBundles",
        "tags": [
          "Cluster/Debug/SupportBundle"
        ],
        "summary": "Returns the list of downloadable support bundles",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BundleFileArray"
                }
              }
            }
          }
        }
      }
    },
    "/cluster/debug/support/bundle/{filename}": {
      "delete": {
        "operationId": "Cluster_Debug_SupportBundle_delete",
        "tags": [
          "Cluster/Debug/SupportBundle"
        ],
        "summary": "Delete a certain support bundle",
        "parameters": [
          {
            "name": "filename",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "filename"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/cluster/debug/support/manifest": {
      "get": {
        "operationId": "getClusterManifest",
        "tags": [
          "Cluster/Debug/SupportBundle"
        ],
        "summary": "Get the Support Bundle Manifest from all nodes in the cluster",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallResultMap"
                }
              }
            }
          }
        }
      }
    },
    "/cluster/deflector": {},
    "/cluster/deflector/cycle": {
      "post": {
        "operationId": "cycle",
        "tags": [
          "Cluster/Deflector"
        ],
        "summary": "Finds leader node and triggers deflector cycle",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/cluster/deflector/{indexSetId}/cycle": {
      "post": {
        "operationId": "Cluster_Deflector_cycle",
        "tags": [
          "Cluster/Deflector"
        ],
        "summary": "Finds leader node and triggers deflector cycle",
        "parameters": [
          {
            "name": "indexSetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/cluster/inputstates": {
      "get": {
        "operationId": "Cluster_InputState_get",
        "tags": [
          "Cluster/InputState"
        ],
        "summary": "Get all input states",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InputStateSummaryArrayMap"
                }
              }
            }
          }
        }
      }
    },
    "/cluster/inputstates/{inputId}": {
      "put": {
        "operationId": "start",
        "tags": [
          "Cluster/InputState"
        ],
        "summary": "Start or restart specified input in all nodes",
        "parameters": [
          {
            "name": "inputId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InputCreatedMap"
                }
              }
            }
          },
          "404": {
            "description": "No such input."
          }
        }
      },
      "delete": {
        "operationId": "stop",
        "tags": [
          "Cluster/InputState"
        ],
        "summary": "Stop specified input in all nodes",
        "parameters": [
          {
            "name": "inputId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InputDeletedMap"
                }
              }
            }
          },
          "404": {
            "description": "No such input."
          }
        }
      }
    },
    "/cluster/jobs": {
      "get": {
        "operationId": "list",
        "tags": [
          "Cluster/Jobs"
        ],
        "summary": "List currently running jobs",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemJobSummaryArrayMapMap"
                }
              }
            }
          }
        }
      }
    },
    "/cluster/jobs/{jobId}": {
      "get": {
        "operationId": "getJob",
        "tags": [
          "Cluster/Jobs"
        ],
        "summary": "Get job with the given ID",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemJobSummary"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "cancelJob",
        "tags": [
          "Cluster/Jobs"
        ],
        "summary": "Cancel job with the given ID",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemJobSummary"
                }
              }
            }
          }
        }
      }
    },
    "/cluster/metrics": {},
    "/cluster/metrics/multiple": {
      "post": {
        "operationId": "multipleMetricsAllNodes",
        "tags": [
          "Cluster/Metrics"
        ],
        "summary": "Get all metrics of all nodes in the cluster",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MetricsReadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Malformed body"
          }
        }
      }
    },
    "/cluster/processbufferdump": {
      "get": {
        "operationId": "clusterProcessBufferDump",
        "tags": [
          "Cluster"
        ],
        "summary": "Get a process buffer dump of all cluster nodes",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemProcessBufferDumpResponseMap"
                }
              }
            }
          }
        }
      }
    },
    "/cluster/processing/status": {
      "get": {
        "operationId": "getStatus",
        "tags": [
          "Cluster/Processing/Status"
        ],
        "summary": "Get processing status from all nodes in the cluster",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProcessingStatusSummaryMap"
                }
              }
            }
          }
        }
      }
    },
    "/cluster/processing/status/persisted": {
      "get": {
        "operationId": "getPersistedStatus",
        "tags": [
          "Cluster/Processing/Status"
        ],
        "summary": "Get persisted processing status from all nodes in the cluster",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProcessingStatusSummaryMap"
                }
              }
            }
          }
        }
      }
    },
    "/cluster/system/loggers": {
      "get": {
        "operationId": "loggers",
        "tags": [
          "Cluster/System/Loggers"
        ],
        "summary": "List all loggers of all nodes and their current levels",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoggersSummaryMap"
                }
              }
            }
          }
        }
      }
    },
    "/cluster/system/loggers/messages/recent/{nodeId}": {
      "get": {
        "operationId": "messages",
        "tags": [
          "Cluster/System/Loggers"
        ],
        "summary": "Get recent internal log messages from a specific node",
        "parameters": [
          {
            "name": "nodeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The nodeId to get logs from"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1000
            },
            "description": "How many log messages should be returned. 0 returns all existing messages.The limit can be rounded up to the next batch size and thus return slightly more logs than requested."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Memory appender is disabled."
          },
          "500": {
            "description": "Memory appender is broken."
          }
        }
      }
    },
    "/cluster/system/loggers/subsystems": {
      "get": {
        "operationId": "subsystems",
        "tags": [
          "Cluster/System/Loggers"
        ],
        "summary": "List all logger subsystems and their current levels",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubsystemSummaryMap"
                }
              }
            }
          }
        }
      }
    },
    "/cluster/system/loggers/{loggerName}/level/{level}": {
      "put": {
        "operationId": "setClusterSingleLoggerLevel",
        "tags": [
          "Cluster/System/Loggers"
        ],
        "summary": "Set the loglevel of a single logger",
        "description": "Provided level is falling back to DEBUG if it does not exist",
        "parameters": [
          {
            "name": "loggerName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "level",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallResultMap"
                }
              }
            }
          }
        }
      }
    },
    "/cluster/system/loggers/{nodeId}/subsystems/{subsystem}/level/{level}": {
      "put": {
        "operationId": "setSubsystemLoggerLevel",
        "tags": [
          "Cluster/System/Loggers"
        ],
        "summary": "Set the loglevel of a whole subsystem",
        "description": "Provided level is falling back to DEBUG if it does not exist",
        "parameters": [
          {
            "name": "nodeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subsystem",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "level",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "No such subsystem."
          }
        }
      }
    },
    "/cluster/system/lookup": {},
    "/cluster/system/lookup/tables/{idOrName}/purge": {
      "post": {
        "operationId": "performPurge",
        "tags": [
          "Cluster/LookupTable"
        ],
        "summary": "Purge Lookup Table Cache on the cluster-wide level",
        "parameters": [
          {
            "name": "idOrName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallResultMap"
                }
              }
            }
          }
        }
      }
    },
    "/cluster/{nodeId}/journal": {
      "get": {
        "operationId": "Cluster_Journal_get",
        "tags": [
          "Cluster/Journal"
        ],
        "summary": "Get message journal information of a given node",
        "parameters": [
          {
            "name": "nodeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The id of the node to get message journal information."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JournalSummaryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cluster/{nodeId}/jvm": {
      "get": {
        "operationId": "jvm",
        "tags": [
          "Cluster"
        ],
        "summary": "Get JVM information of the given node",
        "parameters": [
          {
            "name": "nodeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The id of the node to retrieve JVM information."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemJVMResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cluster/{nodeId}/lbstatus": {},
    "/cluster/{nodeId}/lbstatus/override/{status}": {
      "put": {
        "operationId": "override",
        "tags": [
          "Cluster/LoadBalancers"
        ],
        "summary": "Override load balancer status of this graylog-server node. Next lifecycle change will override it again to its default. Set to ALIVE, DEAD, or THROTTLED.",
        "parameters": [
          {
            "name": "nodeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The id of the node whose LB status will be changed"
          },
          {
            "name": "status",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/cluster/{nodeId}/metrics": {},
    "/cluster/{nodeId}/metrics/multiple": {
      "post": {
        "operationId": "multipleMetrics",
        "tags": [
          "Cluster/Node/Metrics"
        ],
        "summary": "Get the values of multiple metrics at once from node",
        "parameters": [
          {
            "name": "nodeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The id of the node whose metrics we want."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MetricsReadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricsSummaryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Malformed body"
          }
        }
      }
    },
    "/cluster/{nodeId}/metrics/names": {
      "get": {
        "operationId": "metricNames",
        "tags": [
          "Cluster/Node/Metrics"
        ],
        "summary": "Get all metrics keys/names from node",
        "parameters": [
          {
            "name": "nodeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The id of the node whose metrics we want."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricNamesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cluster/{nodeId}/metrics/namespace/{namespace}": {
      "get": {
        "operationId": "byNamespace",
        "tags": [
          "Cluster/Node/Metrics"
        ],
        "summary": "Get all metrics of a namespace from node",
        "parameters": [
          {
            "name": "nodeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The id of the node whose metrics we want."
          },
          {
            "name": "namespace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricsSummaryResponse"
                }
              }
            }
          },
          "404": {
            "description": "No such metric namespace"
          }
        }
      }
    },
    "/cluster/{nodeId}/plugins": {
      "get": {
        "operationId": "Cluster_Plugins_list",
        "tags": [
          "Cluster/Plugins"
        ],
        "summary": "List all installed plugins on the given node",
        "parameters": [
          {
            "name": "nodeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The id of the node where processing will be paused."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PluginList"
                }
              }
            }
          }
        }
      }
    },
    "/cluster/{nodeId}/processbufferdump": {
      "get": {
        "operationId": "processBufferDump",
        "tags": [
          "Cluster"
        ],
        "summary": "Get a process buffer dump of the given node",
        "parameters": [
          {
            "name": "nodeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The id of the node to get a process buffer dump."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemProcessBufferDumpResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cluster/{nodeId}/processing": {},
    "/cluster/{nodeId}/processing/pause": {
      "post": {
        "operationId": "pause",
        "tags": [
          "Cluster/Processing"
        ],
        "summary": "Pause message processing on node",
        "description": "If the message journal is enabled, incoming messages will be spooled on disk, if it is disabled, you might lose messages from inputs which cannot buffer themselves, like AMQP or Kafka-based inputs.",
        "parameters": [
          {
            "name": "nodeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The id of the node where processing will be paused."
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/cluster/{nodeId}/processing/resume": {
      "post": {
        "operationId": "resume",
        "tags": [
          "Cluster/Processing"
        ],
        "summary": "Resume message processing on node",
        "parameters": [
          {
            "name": "nodeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The id of the node where processing will be resumed."
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/cluster/{nodeId}/threaddump": {
      "get": {
        "operationId": "threadDump",
        "tags": [
          "Cluster"
        ],
        "summary": "Get a thread dump of the given node",
        "parameters": [
          {
            "name": "nodeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The id of the node to get a thread dump."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemThreadDumpResponse"
                }
              }
            }
          }
        }
      }
    },
    "/contentstream/": {},
    "/contentstream/settings/{username}": {
      "get": {
        "operationId": "getContentStreamUserSettings",
        "tags": [
          "ContentStream"
        ],
        "summary": "Retrieve Content Stream settings for specified user",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContentStreamSettings"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "setContentStreamUserSettings",
        "tags": [
          "ContentStream"
        ],
        "summary": "Update Content Stream settings for specified user",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContentStreamSettings"
              }
            }
          },
          "description": "Content Stream settings for the specified user."
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContentStreamSettings"
                }
              }
            }
          }
        }
      }
    },
    "/contentstream/tags": {
      "get": {
        "operationId": "getContentStreamTags",
        "tags": [
          "ContentStream"
        ],
        "summary": "Retrieve valid feed tags based on license",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/stringArray"
                }
              }
            }
          }
        }
      }
    },
    "/dashboards": {
      "get": {
        "operationId": "views",
        "tags": [
          "Dashboards"
        ],
        "summary": "Get a list of all dashboards",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "id",
                "title",
                "created_at",
                "description",
                "summary",
                "owner"
              ],
              "default": "title"
            },
            "description": "The field to sort the result on"
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                " desc"
              ],
              "default": "asc"
            },
            "description": "The sort direction"
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/datanodes/request/{path}": {
      "get": {
        "operationId": "requestGet",
        "tags": [
          "DataNodes/API"
        ],
        "summary": "GET request to Data Node's API",
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      },
      "post": {
        "operationId": "requestPost",
        "tags": [
          "DataNodes/API"
        ],
        "summary": "POST request to Data Node's API",
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      },
      "put": {
        "operationId": "requestPut",
        "tags": [
          "DataNodes/API"
        ],
        "summary": "PUT request to Data Node's API",
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "requestDelete",
        "tags": [
          "DataNodes/API"
        ],
        "summary": "DELETE request to Data Node's API",
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/enterprise": {},
    "/enterprise/license/info": {
      "get": {
        "operationId": "licenseInfo",
        "tags": [
          "Enterprise"
        ],
        "summary": "Get Graylog Enterprise license info",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/entity_scopes": {
      "get": {
        "operationId": "getAllEntityScopes",
        "tags": [
          "EntityScope"
        ],
        "summary": "Generate a mapping of available Entity Scopes",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityScopes"
                }
              }
            }
          }
        }
      }
    },
    "/entity_suggestions": {
      "get": {
        "operationId": "getPage",
        "tags": [
          "EntitySuggestions"
        ],
        "summary": "Get a paginated list of suggested entities",
        "parameters": [
          {
            "name": "collection",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "column",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "title"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntitySuggestionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/entitylists/preferences": {},
    "/entitylists/preferences/{entity_list_id}": {
      "get": {
        "operationId": "EntityLists_get",
        "tags": [
          "EntityLists"
        ],
        "summary": "Get preferences for user's entity list",
        "parameters": [
          {
            "name": "entity_list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityListPreferences"
                }
              }
            }
          },
          "404": {
            "description": "Preferences not found."
          }
        }
      },
      "post": {
        "operationId": "create",
        "tags": [
          "EntityLists"
        ],
        "summary": "Create or update user preferences for certain entity list",
        "parameters": [
          {
            "name": "entity_list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EntityListPreferences"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/events": {},
    "/events/definitions": {
      "get": {
        "operationId": "Events_Definitions_list",
        "tags": [
          "Events/Definitions"
        ],
        "summary": "List event definitions",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "Events_Definitions_create",
        "tags": [
          "Events/Definitions"
        ],
        "summary": "Create new event definition",
        "parameters": [
          {
            "name": "schedule",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            },
            "description": "schedule"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventDefinitionDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/events/definitions/bulk_delete": {
      "post": {
        "operationId": "bulkDelete",
        "tags": [
          "Events/Definitions"
        ],
        "summary": "Delete multiple event definitions",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkOperationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkOperationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/events/definitions/bulk_schedule": {
      "post": {
        "operationId": "bulkSchedule",
        "tags": [
          "Events/Definitions"
        ],
        "summary": "Enable multiple event definitions",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkOperationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkOperationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/events/definitions/bulk_unschedule": {
      "post": {
        "operationId": "bulkUnschedule",
        "tags": [
          "Events/Definitions"
        ],
        "summary": "Disable multiple event definitions",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkOperationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkOperationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/events/definitions/paginated": {
      "get": {
        "operationId": "Events_Definitions_getPage",
        "tags": [
          "Events/Definitions"
        ],
        "summary": "Get a paginated list of event definitions",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "title",
                "description",
                "priority",
                "status"
              ],
              "default": "title"
            },
            "description": "The field to sort the result on"
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                " desc"
              ],
              "default": "asc"
            },
            "description": "The sort direction"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/events/definitions/validate": {
      "post": {
        "operationId": "validate",
        "tags": [
          "Events/Definitions"
        ],
        "summary": "Validate an event definition",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventDefinitionDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResult"
                }
              }
            }
          }
        }
      }
    },
    "/events/definitions/{definitionId}": {
      "get": {
        "operationId": "Events_Definitions_get",
        "tags": [
          "Events/Definitions"
        ],
        "summary": "Get an event definition",
        "parameters": [
          {
            "name": "definitionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventDefinitionDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "update",
        "tags": [
          "Events/Definitions"
        ],
        "summary": "Update existing event definition",
        "parameters": [
          {
            "name": "definitionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schedule",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            },
            "description": "schedule"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventDefinitionDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "Events_Definitions_delete",
        "tags": [
          "Events/Definitions"
        ],
        "summary": "Delete event definition",
        "parameters": [
          {
            "name": "definitionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventDefinitionDto"
                }
              }
            }
          }
        }
      }
    },
    "/events/definitions/{definitionId}/clear-notification-queue": {
      "put": {
        "operationId": "clearNotificationQueue",
        "tags": [
          "Events/Definitions"
        ],
        "summary": "Clear queued notifications for event",
        "parameters": [
          {
            "name": "definitionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/events/definitions/{definitionId}/duplicate": {
      "post": {
        "operationId": "duplicate",
        "tags": [
          "Events/Definitions"
        ],
        "summary": "Duplicate an event definition",
        "parameters": [
          {
            "name": "definitionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/events/definitions/{definitionId}/execute": {
      "post": {
        "operationId": "execute",
        "tags": [
          "Events/Definitions"
        ],
        "summary": "Execute event definition",
        "parameters": [
          {
            "name": "definitionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventProcessorParameters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/events/definitions/{definitionId}/schedule": {
      "put": {
        "operationId": "schedule",
        "tags": [
          "Events/Definitions"
        ],
        "summary": "Enable event definition",
        "parameters": [
          {
            "name": "definitionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventDefinitionDto"
                }
              }
            }
          }
        }
      }
    },
    "/events/definitions/{definitionId}/unschedule": {
      "put": {
        "operationId": "unschedule",
        "tags": [
          "Events/Definitions"
        ],
        "summary": "Disable event definition",
        "parameters": [
          {
            "name": "definitionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventDefinitionDto"
                }
              }
            }
          }
        }
      }
    },
    "/events/definitions/{definitionId}/with-context": {
      "get": {
        "operationId": "getWithContext",
        "tags": [
          "Events/Definitions"
        ],
        "summary": "Get an event definition",
        "parameters": [
          {
            "name": "definitionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/anyMap"
                }
              }
            }
          }
        }
      }
    },
    "/events/entity_types": {
      "get": {
        "operationId": "all",
        "tags": [
          "Events/EntityTypes"
        ],
        "summary": "List all available entity types",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AvailableEntityTypesSummary"
                }
              }
            }
          }
        }
      }
    },
    "/events/notifications": {
      "post": {
        "operationId": "Events_Notifications_create",
        "tags": [
          "Events/Notifications"
        ],
        "summary": "Create new notification definition",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listNotifications",
        "tags": [
          "Events/Notifications"
        ],
        "summary": "List all available notifications",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/events/notifications/legacy/types": {
      "get": {
        "operationId": "legacyTypes",
        "tags": [
          "Events/Notifications"
        ],
        "summary": "List all available legacy alarm callback types",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/events/notifications/paginated": {
      "get": {
        "operationId": "Events_Notifications_getPage",
        "tags": [
          "Events/Notifications"
        ],
        "summary": "Get a paginated list of event notifications",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "title",
                "description",
                "type"
              ],
              "default": "title"
            },
            "description": "The field to sort the result on"
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                " desc"
              ],
              "default": "asc"
            },
            "description": "The sort direction"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/events/notifications/test": {
      "post": {
        "operationId": "test",
        "tags": [
          "Events/Notifications"
        ],
        "summary": "Send a test alert for a given event notification",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "Event notification is invalid."
          },
          "500": {
            "description": "Error while testing event notification"
          }
        }
      }
    },
    "/events/notifications/{notificationId}": {
      "get": {
        "operationId": "Events_Notifications_get",
        "tags": [
          "Events/Notifications"
        ],
        "summary": "Get a notification",
        "parameters": [
          {
            "name": "notificationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "Events_Notifications_update",
        "tags": [
          "Events/Notifications"
        ],
        "summary": "Update existing notification",
        "parameters": [
          {
            "name": "notificationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "Events_Notifications_delete",
        "tags": [
          "Events/Notifications"
        ],
        "summary": "Delete a notification",
        "parameters": [
          {
            "name": "notificationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/events/notifications/{notificationId}/test": {
      "post": {
        "operationId": "Events_Notifications_test",
        "tags": [
          "Events/Notifications"
        ],
        "summary": "Send a test alert for a given event notification",
        "parameters": [
          {
            "name": "notificationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The event notification id to send a test alert for."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Event notification not found."
          },
          "500": {
            "description": "Error while testing event notification"
          }
        }
      }
    },
    "/events/search": {
      "post": {
        "operationId": "search",
        "tags": [
          "Events"
        ],
        "summary": "Search events",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventsSearchParameters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventsSearchResult"
                }
              }
            }
          }
        }
      }
    },
    "/events/{event_id}": {
      "get": {
        "operationId": "getById",
        "tags": [
          "Events"
        ],
        "summary": "Get event by ID",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          }
        }
      }
    },
    "/favorites": {
      "get": {
        "operationId": "getFavoriteItems",
        "tags": [
          "Favorites"
        ],
        "summary": "Get the Favorites for the Start Page for the user",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 5
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/favorites/{grn}": {
      "put": {
        "operationId": "addItemToFavorites",
        "tags": [
          "Favorites"
        ],
        "summary": "Add an item for inclusion on the Start Page for the user",
        "parameters": [
          {
            "name": "grn",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "operationId": "removeItemFromFavorites",
        "tags": [
          "Favorites"
        ],
        "summary": "Remove an item from inclusion on the Start Page for the user",
        "parameters": [
          {
            "name": "grn",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/messages": {},
    "/messages/parse": {
      "post": {
        "operationId": "parse",
        "tags": [
          "Messages"
        ],
        "summary": "Parse a raw message",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessageParseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultMessage"
                }
              }
            }
          },
          "404": {
            "description": "Specified codec does not exist."
          },
          "400": {
            "description": "Could not decode message."
          }
        }
      }
    },
    "/messages/{index}/analyze": {
      "get": {
        "operationId": "analyze",
        "tags": [
          "Messages"
        ],
        "summary": "Analyze a message string",
        "description": "Returns what tokens/terms a message string (message or full_message) is split to.",
        "parameters": [
          {
            "name": "index",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The index the message containing the string is stored in."
          },
          {
            "name": "analyzer",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The analyzer to use."
          },
          {
            "name": "string",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The string to analyze."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageTokens"
                }
              }
            }
          },
          "404": {
            "description": "Specified index does not exist."
          }
        }
      }
    },
    "/messages/{index}/{messageId}": {
      "get": {
        "operationId": "Messages_search",
        "tags": [
          "Messages"
        ],
        "summary": "Get a single message.",
        "parameters": [
          {
            "name": "index",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The index this message is stored in."
          },
          {
            "name": "messageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultMessage"
                }
              }
            }
          },
          "404": {
            "description": "Message does not exist."
          }
        }
      }
    },
    "/plugins/org.graylog.aws/config": {
      "put": {
        "operationId": "updateConfig",
        "tags": [
          "Plugins/AWS/Config"
        ],
        "summary": "Updates the AWS default configuration.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/plugins/org.graylog.integrations/aws": {},
    "/plugins/org.graylog.integrations/aws/available_services": {
      "get": {
        "operationId": "getAvailableServices",
        "tags": [
          "Plugins/AWS"
        ],
        "summary": "Get all available AWS services",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AvailableServiceResponse"
                }
              }
            }
          },
          "500": {
            "description": "An error occurred encoding the policy JSON"
          }
        }
      }
    },
    "/plugins/org.graylog.integrations/aws/cloudwatch/log_groups": {
      "post": {
        "operationId": "getLogGroupNames",
        "tags": [
          "Plugins/AWS"
        ],
        "summary": "Get all available AWS CloudWatch log groups names for the specified region.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AWSRequestImpl"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogGroupsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/plugins/org.graylog.integrations/aws/inputs": {
      "post": {
        "operationId": "Plugins_AWS_create",
        "tags": [
          "Plugins/AWS"
        ],
        "summary": "Create a new AWS input.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AWSInputCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/plugins/org.graylog.integrations/aws/kinesis/auto_setup": {},
    "/plugins/org.graylog.integrations/aws/kinesis/auto_setup/create_stream": {
      "post": {
        "operationId": "createNewKinesisStream",
        "tags": [
          "Plugins/AWSKinesisAuto"
        ],
        "summary": "Step 1: Attempt to create a new kinesis stream and wait for it to be ready.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KinesisNewStreamRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KinesisNewStreamResponse"
                }
              }
            }
          }
        }
      }
    },
    "/plugins/org.graylog.integrations/aws/kinesis/auto_setup/create_subscription": {
      "post": {
        "operationId": "createSubscription",
        "tags": [
          "Plugins/AWSKinesisAuto"
        ],
        "summary": "Step 3: Subscribe a Kinesis stream to a CloudWatch log group",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLogSubscriptionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLogSubscriptionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/plugins/org.graylog.integrations/aws/kinesis/auto_setup/create_subscription_policy": {
      "post": {
        "operationId": "autoKinesisPermissions",
        "tags": [
          "Plugins/AWSKinesisAuto"
        ],
        "summary": "Step 2: Create AWS IAM policy needed for CloudWatch to write logs to Kinesis",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRolePermissionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateRolePermissionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/plugins/org.graylog.integrations/aws/kinesis/health_check": {
      "post": {
        "operationId": "kinesisHealthCheck",
        "tags": [
          "Plugins/AWS"
        ],
        "summary": "Attempt to retrieve logs from the indicated AWS log group with the specified credentials.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KinesisHealthCheckRequest"
              }
            }
          }
[...]
